# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Boost Library
include/boost

# CMake Ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
_deps

# Doxygen ignores
docs/Doxyfile_cmake
docs/latex/

# Ignore vscode settings
.vscode

# Ignore outputs
Tests
CPUMonitor

# Ignore all libraries
libs/*/

# Ignore all nes files
*.nes
